<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"          ></header>
        <div th:if="${hayRegistroEnProceso}">
            <section th:replace="registros/botonFinalizarRutina :: botonFinalizarRutina"></section>
        </div>
        <div th:if="${not hayRegistroEnProceso}">
            <section th:replace="registros/botonIniciarRutina :: botonIniciarRutina"></section>
        </div>
        <section th:replace="registros/agregarRegistro :: agregarRegistro"></section>
        <div>
            <div>
                <h2>Listado de Registros</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Código Rutina</th>
                            <th>Cod Cliente</th>
                            <th>Nombre Cliente</th>
                            <th>Nombre Entrenador</th>
                            <th>Nombre Rutina</th>
                            <th>Hora Entrada</th>
                            <th>Hora Salida</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="registro : ${registros}" th:if="${registro.ide_Cli == 3}">
                            <td th:text="${registro.cod_Rutina}"></td>
                            <td th:text="${registro.ide_Cli}"></td>
                            <td th:text="${registro.nom_Cli + ' ' + registro.ape_Pat}"></td>
                            <td th:text="${registro.nom_Entrenador + ' ' + registro.ape_Pat_Entrenador}"></td>
                            <td th:text="${registro.nom_Rutina}"></td>
                            <td th:text="${registro.hora_Entrada}"></td>
<!--                            //<td th:text="${registro.hora_Salida}"></td>-->
                            <td th:text="${registro.hora_Salida == null ? 'En proceso' : registro.hora_Salida}"></td>
                            <td th:text="${registro.fecha}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
