<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th"http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec"http://www.thymeleaf.org/extras/spring-security"
      >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <form th:action="@{/registros/nuevo}" th:object="${registro}" method="POST" class="was-validated">
            <div class="form-group">
                <label for="rutina" th:text="#{registro.rutina}">Rutina</label>
                <select class="form-control" name="rutina" th:field="*{cod_rutina}">
                    <option th:each="rutina : ${rutinas}"
                            th:value="${rutina.cod_rutina}"
                            th:text="${rutina.nom_rutina}">Rutina 1</option>
                </select>
            </div>
             <div class="form-group">
                    <label for="ide_cli" th:text="#{producto.nombre}">Ide_Cli</label>
                    <input type="text" class="form-control" name="ide_cli" required="true" />
                </div>
            <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}" name="nuevo" th:value="#{accion.guardar}">
                Guardar
            </button>

            </div>
        </form>   
    </body>
</html>
