<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
    <head th:fragment="head" >
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <!-- Agregar estos archivos al encabezado de la página -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <!--<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>-->
        <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}" ></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}" ></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
    </head>
    <body>
 
        <header  th:fragment="header" > 
            
            <div class="container" style="width: 300px; margin: 0px 0px; padding: 0px 0px">
             
             <div class="sidebar-container" style="background-color: #F2EAE1; min-height: 100vh">
                 
                 <div class="logo"  style="padding: .875rem 1.25rem; text-align: center; margin-button: 100px">
                    <a  th:href="@{/}"  class="navbar-brand"  ><img src="Logo.jpg" alt="logo" style="height: 50px; width: 150px"/></a>
                 </div>    
                    
                 <div class="container justify-content-center" style="text-align: center; margin-top: 40px">
                     <img src="user.jpg" style="height: 100px; width: 100px" alt="imagen_usuario"/>
                 </div>
                 
                 <div sec:authorize="isAuthenticated()" style="text-align: center; padding: 15px; font-weight: bold">
                      <span  th:text="#{barra.bienvenido}" >Bienvenido: </span>
                      <span sec:authentication="name"    > Usuario</span>                     
                 </div>

                 
                 <div class="menu" style="width: 18rem; color: black">
                    
                    <a href="#" class="d-block p-3" style="color: black; text-decoration: none"><i class="icon ion-md-home mr-2 lead"></i>Inicio</a>
                    <a href="#" class="d-block p-3" style="color: black; text-decoration: none"><i class="icon ion-md-bookmark mr-2 lead"></i>Rutinas</a>
                    <a href="#" class="d-block p-3" style="color: black; text-decoration: none"><i class="icon ion-md-contacts mr-2 lead"></i>Clientes</a>
                    <a href="#" class="d-block p-3" style="color: black; text-decoration: none"><i class="icon ion-md-analytics mr-2 lead"></i>Asistencias</a>
                    <a href="#" class="d-block p-3" style="color: black; text-decoration: none"><i class="icon ion-md-shirt mr-2 lead"></i>Entrenadores</a>
                    <a href="#" class="d-block p-3" style="color: black; text-decoration: none"><i class="icon ion-md-settings mr-2 lead"></i>Ajustes</a>
                    
                    <form method="POST" th:action="@{/logout}" >
                         <a href="#" onclick="this.parentNode.submit();"  class="nav-link"  style="color: black; text-decoration: none"><i class="icon ion-md-exit mr-2 lead"></i>[[#{barra.salir}]]</a>
                    </form>
                </div>
            </div>
        </div>
            
<!--            <div class="collapse navbar-collapse" id="navbarCollapse"  >                    
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"   >
                <span class="navbar-toggler-icon"></span>
            </div>-->
        </header>

        
        <footer th:fragment="footer" >
            
            <div class="col" style="padding: 0px 0px; margin-top: 50px">
                <div class="container justify-content-center" style="font-size: 1rem; background-color: #FEAF00; padding: 30px 30px; max-width: 100%; text-align: center" >
                            <a style="text-decoration: none; color: white" th:href="@{/(lang=es)}">ES |</a>
                            <a style="text-decoration: none; color: white" th:href="@{/(lang=en)}">EN |</a>
                            <span style="color: white">[[#{plantilla.pie-pagina}]]  &copy; 
                            <a  style="text-decoration: none; color: white" href="https://www.cibertec.edu.pe" target="_blank">Cibertec</a> </span>
                </div>
            </div>
        </footer>

    </body>
</html>
